/* 追加するCSS */
.header {
    background-color: #000000;
    color: white;
    size: 16px;
}

.content{
    background-color: #a8fff1;
    padding: 20px;
}

/* 投稿に関するCSS */
.post {
    display: flex;
    background-color: #fffaced2;
    border: 5px #000000;
    border-radius: 10px;
}

.post-icon {
    width: 120px;
}

.post-image {
    width: 100%;
}

.post-name {
    font-weight: bold;
}

.post-text {
    width: 100%;
}

.post-info {  
    position: relative;
    width: 100%;
}

.post-action {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* inputのデフォルトスタイルをリセット */
.post-not-edit-input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textareaのデフォルトスタイルをリセット */
.post-not-edit-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}